.title{
    text-align: center;
    margin-bottom: 2vh;
}

.cards{
    display: grid;
    gap: 2vw;
    grid-template-columns: repeat(4, 1fr);
}

.chart-title{
    margin:2px;
    text-align: center;
    font-weight: 700;
}
hr{
    border: none;
    border-top: rgb(192, 192, 192) solid 1px;
    margin-top: -5px;
}
.card-value{
    box-shadow: 8px 8px 4px rgba(0,0,0,0.2), 0 0 3px rgba(0,0,0,0.1);
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    margin: 10px 5px 10px 1px;
    padding:10px
}
.charts{
    display:grid;
    gap:2vw;
    grid-template-columns: repeat(2, 1fr);
}

.column-one{
    width:64vw;
    margin-left: 2vw;
    height: 70vh;
}


.column-two{
    width: 29.5vw;
    box-shadow: 8px 8px 4px rgba(0,0,0,0.2), 0 0 3px rgba(0,0,0,0.1);
    height: 70vh;
}

.trend-matrix{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2vw;
    width: 31vw;
    height: 42vh
}

.trend{
    margin: 0;
    width: 30.8vw;
}

#trend-line{
    height: 40vh; 
    box-shadow: 8px 8px 4px rgba(0,0,0,0.2), 0 0 3px rgba(0,0,0,0.1)
}
.matrix{
    margin: 0;
    width:30.8vw;
}
#matrix-chart{
    height: 40vh; 
    box-shadow: 8px 8px 4px rgba(0,0,0,0.2), 0 0 3px rgba(0,0,0,0.1)
}

/* reduce row height */
.dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner tr{
    min-height: 4px;
    height: 4px;
    max-height:4px;
    padding:0;
}
/* reduce header height */
.dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner tr:first-of-type{
    min-height: 15px;
    height: 15px;
}

.timeline{
    border: 2px black solid;
    height: 12vh;
    margin-top: 2vh;
}

.time-selectors{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    width:400px;
    margin-top: 20px;
    margin-left: 1vw;

}
.slicers{
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    width:64vw;
    height: 20vh;
    margin-left: 2vw;
    margin-top: 1vw;
}

.slicer-title{
    margin:2px;
    font-weight: 700;
}

/* .geolayer{
    width: 380;
    height: 580;
}

.choroplethlayer{
    width: 380;
    height: 580;
}

.scatterlayer{
    width: 380;
    height: 580;
} */